.hero{
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
}

.title {
  margin-top: 20px;
  line-height: 1.15;
  font-size: 2.5rem;
}

.title,
.description {
  text-align: center;
}

.title span {
  color: #f06a03;
  text-decoration: none;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  margin-top: -30px;
  font-family: cursive;
}
